IdeaProjects/CarRental/out/
IdeaProjects/FeliciasFruitStand/out/
IdeaProjects/firstAssignment/out/
IdeaProjects/inclass_6_28/out/
IdeaProjects/OOPLego/out/
IdeaProjects/practice1/out/
IdeaProjects/test/out/